@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/ttcn.css";

.CodeMirror {
  height: auto !important;
}

pre {
  font-family: Monaco, Consolas, Courier New, monospace !important;
  font-size: 12px !important;
  background: #fff;
}

.event-trace {
  margin-left: 30px;
}

.event-trace-item {
  position: relative;
  margin-left: 2rem;
}
.event-trace-item:before {
  content: "";
  position: absolute;
  border-left: 1px solid #ddd;
  height: calc(100% + 1.1rem);
  top: 0;
  left: -2rem;
  transition: all 0.3s ease-in-out;
}

.event-trace-item:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 2rem;
  top: 50%;
  transform: translateY(-50%);
  background: #ddd;
  left: -2rem;
  transition: all 0.3s ease-in-out;
}

.event-trace-item:hover:after,
.event-trace-item:hover:before {
  border-color: #007bff;
  background-color: #007bff;
}

.event-trace-marker {
  color: #6c757d;
  width: 60px;
  text-align: center;
  left: -30px;
  position: relative;
  text-transform: uppercase;
  font-size: 85%;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  background: #fff;
}

.event-trace-item:last-of-type:before {
  height: 100%;
}

.CodeMirror pre {
  font-family: Monaco, Consolas, Courier New, monospace !important;
  font-size: 12px !important;
}

.client-picker {
  display: block;
  padding: 1rem 1.25rem 1.5rem;
  width: 100%;
  font-size: 1.5rem;
  color: #4a4a4a;
  cursor: pointer;
  position: relative;
}

.client-picker:hover {
  color: #4a4a4a;
  text-decoration: none;
  background: #f2f2f2;
}

.client-picker:focus {
  background: #fff;
}

.client-picker:after {
  float: right;
  top: 15px;
  position: relative;
}

.client-picker small {
  position: absolute;
  font-size: 0.8rem;
  left: calc(1.25rem + 40px);
  bottom: 10px;
  opacity: 0.6;
}

.client-picker + .dropdown-menu {
  padding: 0;
  margin: 0;
  width: 100%;
  border: none;
  transform: none !important;
  top: 100% !important;
  border-radius: 0;
  border-top: 1px solid #d3d3d3;
  box-shadow: 0px 5px 12px -2px rgba(0, 0, 0, 0.5);
}
.client-picker + .dropdown-menu .dropdown-item {
  font-size: 1.15rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid #d3d3d3;
  color: #555;
  border-radius: 0;
}
.client-picker + .dropdown-menu .dropdown-item:focus {
  background: #fff;
}
